.st-outer {
  font-size: 16px;
}

[data-icon]:before,
[data-icon-after]:after {
  speak: none;

  /* Enable Ligatures */
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 65px;
  -webkit-font-smoothing: antialiased;
  content: attr(data-icon);
}

.st-format-bar {
  [data-icon]:before,
  [data-icon-after]:after,
  .st-icon {
    //font-family: "ST-Icons";
    line-height: 1;
  }
}

[data-icon-after]:after {
  content: attr(data-icon-after);
}

.st-icon {
  speak: none;

  /* Enable Ligatures */
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 65px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
}

[data-icon="bin"]:hover:before {
  content: "binopen";
}

.st-block__inner ::-moz-selection {
  background: $brand-primary;
  text-shadow: none;
}

.st-block__inner ::selection {
  background: $brand-primary;
  text-shadow: none;
}

.st-spinner {
  position: absolute !important;
  left: 50%;
  top: 50%;
}

.st-input-label {
  display: block;
  margin-bottom: 0.3em;
}

.st-text-block,
.st-block input[type="text"],
.st-block textarea {
  font-size: inherit;
  margin: 0;
  padding: 0.3em 0;
}

.st-text-block,
.st-text-block:active,
.st-text-block:focus,
.st-block [contenteditable="true"],
.st-block [contenteditable="true"]:active,
.st-block [contenteditable="true"]:focus,
.st-block input[type="text"],
.st-block input[type="text"]:active,
.st-block input[type="text"]:focus,
.st-block textarea,
.st-block textarea:hover,
.st-block textarea:active {
  outline: none;
  border: none;
}

.st-block input[type="text"],
.st-block input[type="text"]:active,
.st-block input[type="text"]:focus {
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  height: 46px;
  padding: 11px 16px;
  font-size: 14px;
  line-height: 1.3;
  color: $gray-dark;
  background-color: $input-bg;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: none;

  &:active,
  &:focus {
    border-color: $brand-primary;
  }
}

.st-errors {
  background-color: #ffe1e4;
  padding: 2em;
  color: $brand-danger;
  margin-bottom: 20px;
}

.st-errors p,
.st-errors ul {
  margin: 0;
}

.st-errors ul {
  padding-left: 1em;
}

.st-errors p {
  margin-bottom: 0.5em;
  font-weight: 600;
}

.st--block-limit-reached .st-block-controls__top {
  display: none;
}

.st-block-controls__top:before,
.st-icon--add:after {
  transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 40px;
  padding: 16px 0;
  line-height: 0.9;
  border: 1px $gray-light dashed;
  color: $gray-light;
  border-radius: 5px;
  cursor: pointer;
}

.st-block-controls__top:before {
  margin-bottom: 20px;
}

.st-icon--add:after {
  margin: 20px 0;
}

.st-block-controls__top:hover:before,
.st-block--with-plus:after {
  color: $brand-primary;
  border-color: $brand-primary;
}

.st-block-controls {
  background-color: $white;
  border: 2px solid #ececec;
  border-radius: 5px;
  display: none;
  width: 100%;
  text-align: center;
  padding: 1.2em 0;

  a {
    color: #535c6d;
  }
}

.st-block-controls--active {
  display: block;
}

.st-block-control {
  font-size: 14px;
  font-weight: 300;
  display: inline-block;
  cursor: pointer;
  margin: 0 35px 0 0;
}

.st-block-controls .st-block-control:last-child {
  margin-right: 0;
}

.st-block-control .st-icon {
  font-size: 66px;
  display: block;
  height: 68px;
}

.st-block-control:hover {
  color: $brand-primary;
}

.st-block {
  padding: 0;
  position: relative;
}

.st-block__inner {
  padding: 1.875em 1.875em 2.8em;
  background-color: $white;
  border: 2px solid #ececec;
  border-radius: 5px;
  position: relative;
}

form:not(.disabled) {
  .st-block.st-drag-over .st-block__inner,
  .st-block__inner:hover {
    border-color: $brand-primary;
  }
}

.st-block--with-errors .st-block__inner,
.st-block--delete-active .st-block__inner {
  border-color: $brand-danger;
}

.st-block--with-plus:after,
.st-icon--add:after {
  display: block;
  position: relative;
  z-index: 1;
  bottom: 0;
}

.st--block-limit-reached .st-block--with-plus:after,
.st--block-limit-reached .st-icon--add:after {
  display: none;
}

.with-st-controls:after,
.with-st-controls:before {
  display: none;
}

.with-st-controls,
.st-block__inner {
  margin-bottom: 20px;
}

.st-text-block {
  min-height: 3em;
  font-size: 1.275em;
  line-height: 1.45;
}

.st-text-block--heading {
  line-height: 1.1;
  font-size: 2.2em;
  min-height: auto;
  font-weight: 600;
}

ul.st-text-block {
  margin-left: 1.875em;
}

.st-block__inputs {
  padding: 1.6em 0 1em;
}

.st-block__dropzone .st-icon {
  font-size: 72px;
  color: $brand-primary;
  display: block;
  text-align: center;
  margin-bottom: -2px;
}

.st-block__dropzone p {
  text-align: center;
  color: $gray-dark;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.st-block__dropzone p span {
  font-weight: 600;
}

.st-drag-over .st-block__inputs {
  border-top-color: #cdcdcd;
}

.st-block .st-block__paste-input[type="text"] {
  text-align: center;
  width: 80%;
  display: block;
  margin: 12px auto 0;
}

.st-upload-btn {
  transition: color 0.1s ease-in-out, border-color 0.1s ease-in-out;
  color: $brand-primary;
  background-color: $white;
  border: 1px solid $brand-primary;
  display: inline-block;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  padding: 13px 16px;
  font-size: 14px;
  line-height: 1.3;
  border-radius: 5px;
  position: relative;
  z-index: 10;
}

.st-block__upload-container:hover .st-upload-btn {
  background-color: white;
  border-color: darken($brand-primary, 12%);
  color: darken($brand-primary, 12%);
}

.st-block__editor--with-square-media {
  padding-top: 100%;

  /* 16:9 */
  height: 0;
  position: relative;
  width: 100%;
}

.st-block__editor--with-sixteen-by-nine-media {
  padding-top: 56.25%;

  /* 16:9 */
  height: 0;
  position: relative;
  width: 100%;
}

.st-block__editor--with-square-media video,
.st-block__editor--with-square-media iframe,
.st-block__editor--with-sixteen-by-nine-media video,
.st-block__editor--with-sixteen-by-nine-media iframe {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
}

.st-block__editor img {
  width: 100%;
  height: auto;
}

.st-block__upload-container {
  //margin: 15px 0 0 0;
  text-align: center;
}

.st-block__upload-container input[type="file"] {
  position: absolute;
  z-index: 50;
  opacity: 0;
  cursor: pointer;
  left: 0;
  width: 100%;
  padding: 7px 0;
  text-align: center;
}

.st-block__messages {
  display: none;
  position: relative;
  top: -1.9em;
  left: -1.9em;
  padding: 0.3em 0.5em;
  border: 2px solid $brand-primary;
  border-left: none;
  border-top: none;
  max-width: 80%;
}

.st-block__messages--is-visible {
  display: block;
}

.st-block--with-errors .st-block__messages {
  border-color: $brand-danger;
}

.st-block__messages span {
  display: block;
}

.st-msg--error {
  color: $brand-danger;
}

.st-block-positioner {
  border: 0.125em solid $brand-primary;
  position: absolute;
  z-index: 2;
  left: -5.5em;
  bottom: 0.4em;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.st-block-positioner--is-visible {
  visibility: visible;
  opacity: 1;
}

.st-block-positioner:after {
  content: "";
  display: block;
  width: 0.4em;
  height: 0.4em;
  position: absolute;
  right: -0.3em;
  bottom: 0.6em;
  z-index: 1;
  border: 0.125em solid $brand-primary;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.st-block-positioner__title {
  color: $brand-primary;
  font-size: 0.7em;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  border-bottom: 1px solid $brand-primary;
  padding: 0.5em;
  text-align: center;
}

.st-block-positioner__inner {
  background: #fff;
  position: relative;
  z-index: 2;
  padding: 0.3em 0.5em;
}

.st-block__ui,
.st-block__ui-delete-controls {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.st-block__control-ui {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
}

form:not(.disabled) {
  .st-block__inner:hover .st-block__ui,
  .st-block__inner:hover .st-block__control-ui {
    opacity: 1;
  }
}

.st-block-ui-btn,
.st-block-control-ui-btn {
  display: block;
  float: left;
  width: 3em;
  height: 2.7em;
  line-height: 2.5em;
  font-size: 1.4em;
  color: $brand-primary;
  background: #fff;
  text-align: center;
  border: 2px solid $brand-primary;
  border-right: 0;
  border-bottom: 0;
  margin-bottom: 0;
  cursor: pointer;
}

.st-block-control-ui-btn {
  width: 2em;
  height: 1.75em;
  font-size: 1.5em;
  line-height: 1.25em;
  height: 1.25em;
  border: 2px solid $brand-primary;
  border-left: 0;
  border-bottom: 0;
}

.st-block--with-errors .st-block-ui-btn,
.st-block--with-errors .st-block-control-ui-btn,
.st-block--delete-active .st-block-ui-btn,
.st-block--delete-active .st-block-control-ui-btn {
  color: $brand-danger;
  border-color: $brand-danger;
}

.st-block-ui-btn:hover,
.st-block-control-ui-btn:hover,
.st-block-control-ui-btn:hover {
  color: #fff;
  background: $brand-primary;
}

.st-block--with-errors .st-block-ui-btn:hover,
.st-block--with-errors .st-block-control-ui-btn:hover,
.st-block--delete-active .st-block-ui-btn:hover,
.st-block--delete-active .st-block-control-ui-btn:hover {
  background-color: $brand-danger;
}

.st-block--delete-active .st-block__ui-delete-controls {
  opacity: 1;
  z-index: 2;
}

.st-block__delete-label {
  display: block;
  border: 2px solid $brand-danger;
  border-bottom: none;
  border-right: none;
  text-align: center;
  background: #fff;
  color: $brand-danger;
  padding: 0.4em 0;
}

.st-format-bar {
  position: absolute;
  margin: -3em 0 0 0;
  background: #4d5358;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  border-radius: 0.4em;
  padding: 0.5em 0.9em;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.st-format-bar:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 2.12em;
  width: 0;
  height: 0;
  border-left: 0.625em solid transparent;
  border-right: 0.625em solid transparent;
  border-top: 0.625em solid #4d5358;
  margin-left: -0.625em;
}

.st-format-bar--is-ready {
  visibility: visible;
  opacity: 1;
}

.st-format-btn {
  background: transparent;
  border: 0;
  color: #fff;
  padding: 0 0.6em 0 0;
  margin: 0 0.6em 0 0;
  font-size: 1em;
  vertical-align: middle;
  border-right: 1px solid #3e4245;
}

.st-format-btn:last-child {
  border-right: none;
  padding-right: 0;
  margin-right: 0;
}

.st-format-btn:hover,
.st-format-btn--is-active {
  color: $brand-primary;
}

.st-format-btn--Italic {
  font-style: italic;
}

.st-format-btn--Unlink {
  text-decoration: line-through;
}

/*@font-face {
  font-family: "ST-Icons";
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAysAA8AAAAAFIQAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABWAAAABoAAAAcZcTj6EdERUYAAAF0AAAAJgAAACwAcgA0R1BPUwAAAZwAAAAgAAAAIGyRdI9HU1VCAAABvAAAAQgAAAGk4/3oj09TLzIAAALEAAAARwAAAFZQHNwUY21hcAAAAwwAAACIAAABiKEtzJ1nYXNwAAADlAAAAAgAAAAI//8AA2dseWYAAAOcAAAGRAAAC1BdyPPMaGVhZAAACeAAAAAuAAAANv1btXRoaGVhAAAKEAAAACAAAAAkBBL/+WhtdHgAAAowAAAAOAAAAIwoigNMbG9jYQAACmgAAABeAAAAXlsqWHJtYXhwAAAKyAAAAB4AAAAgAIIAk25hbWUAAAroAAAA2gAAAYxkiVz8cG9zdAAAC8QAAADnAAABTvwu+jV4nGNgYGBkAIKTnfmGIPqc7K5oGA0AP98F9AAAeJxjYGRgYOADYhUGEGBiYAZDRgYWBjEgT5xBF8wGyTAAAA26AKcAAAABAAAACgAcAB4AAWxhdG4ACAAEAAAAAP//AAAAAAAAeJwtkGtOAkEQhL8RWFYQxRfsS2CXl4gmnMR4BRITY0L8xYE8gifwHJ7AA3gBqG43k9mtrq6u7h4C0GHEI2G33X8Q0xTD4YBlwu79bSuO/0i5pv9jQnimx4QNL7yy55Mvvvnhl78QhY1rz2mRkJKRc0LEDaf6LlgyoxLbUb4SngubvkVbaCFmTEnhXM81a/EpDfVNFEXSPQkVOpncLqXLuFN0JZTwYNsInal2rN5F7d/XzeVc+jR9zWPqldTXjqZ1zwvXDeuqgfqmOoZjn3CmyOrm7jMS35W+0mtkckj85sp31b8umoo35udvba/MXbviVt4WB+05rn+qkONEdfYy99plfQSCThpCeJxjYGT8wjiBgZWBg9GHMY2BgcEdSn9lkGRoYWBgYmBlZoABRgEGBAhIc01hcGBI/MDA+OD/AwY9xocMCg1ANSA5ANuNDFIAeJytjksKg2AMhL/fliKuurO+3+96kdeceigue+LewMbfUnCtE0IyIZkJcGFLH8WKtzCl+ZVRqoWJIQETrw/LorcG5n/PfbsweWia09Hi4FJSUMv0SUJKg0dMSEUm6hE2PQGoGz9rqauPwR6K48i71nHLopZfkrTx4rDK/MjugxOkz8AXPA0PLQAAAAH//wACeJztVl1sG0UQnjnXt47j2rF9e+ckjp27c3z5aRr/n6BxUtIUjEooCZTfVimiOIKoJKmQEE0lkFALCCkBgRCoLapIIlAAAS/QCpCiAm8J4gkJBKgOT/w8ICQCT1dmL20KtMAD4o37mZ3Z2fXNzzezBgQ4f04CPAcSQBh1CRwSHBCXB9qhAz/Ds1AHLZAA6EerH5PItB6iIRR8D9EeT8hzuGn8uYGB58abji4O+aTIqN8/GpF8Q+N+bybj9Y93PnsfP3aM3/fszld3+fzjOa83N+737wpa/913+7eb6avcdsqahcajpdapu2eujuarmaxgxujpg+bUFlTkLjTSZfx7Ofofr5e993vlvyRL/0rNN6SPr8A5R/+N2s1pC1i4ii/CFtgL+wBsNZ+zS8UC3WmLbtOQuZJEYhV3NCyVMi4zNa8xuU0JSibN0BYj7Q5bsahq6WLBTqAYSvmcVrJllhVE5ZPx1olr+xG9AS2Z6EQWv/+G1t4KY6HUbXtIn7hqSyvqqe1jfbdsq68v24lMXV1dINDaqaidm817rpLsdHs82exPNDVHm3FA3l3ZJ6HH4/PF6mNdCT9rQrni2ZRW2z1osrCGqGGqsdazdyiTlra0xSUPy5v1GM/GeGfOUxewSi1ygx7xBOIKE7HYBDedP4cL+AVFhUE9IQ+iGrPIXYvpXN+G3Dy7qq1Wp9RDi7jdWdq+tISfr2rfBKbUqVrrEjRAGdrxQ3yB9m8CH2E4DBFogmZCcCukoA06oBO2EpohWjR53pMPm2E7T6xJr5bngs0XNTHNBOuuCguyPDNTVZSOmnJGoaemrNIwM/PLLF34GOfOm7jPmTt74vFjx9tPvP3W8efxDueVIOd4F+kWOAfYTPYU8Fd8ijwLkaUxskgne7KQg6thG+yAQYBSoZRTFdkoFdKGrKg5W/3HCY1pVPDUAtpYEm3LtthkzIjFjHQgHKCnI6bHYnrbRUFoLgj7TwYXGFsIveSUaAiefCm08KlYG2t11Tz8lwKeDM752HzoBGO+ueDJE6F5EP3CTzheIxyL3PkgCCpoFHeLehZgWA9HdSJtmt6PGtOtkLCZp/7sDa45CsezTh8G5pwq9k7P4c2HMsHgAxbWJToTic5CpClCD77gPI2TzjxWnNPvvPx64fDw5NZg8KA+83pxitgvsbojkczielxmtcbufaannjabtkzrshnricxpdavyicbc+In2yJSTa3EFDxMncqW5uQJheZ6bNkGki7qsyS6byB8Znq6eVp4eyZm3a5NnpkeOjJ1WZkeyQnKO4OEzbx2fNW+f8F1iwUtxu4Hi9uAFzAcJsxAltAvEa/RGmea1rSnc75wawx8cBfF6593erd1Y6u7Gal9HuaMPY93dy93dl+VAoKwR4i76L+XgMpBZGrMtfin21Uq1Uqm+2htllz2zvfpgx+/jPSm0lWFXWy2Xe3sbszGg0+ohiOKT+AYhPUhfSyJVjcgy1RQ1HDDG6DLWKb5hjD0hBCIiR/Wu3b+4dsvsdtbvhietgprolkm0rqki3tr1fiki6epu6a4h32ydnlzgrsh2jt87n0xp8+HhGaI0dZezptRqZUUh689wbHG+eXf59Py8yPE1YOAX+AGhQsStwcUrUEYtW8sTQHibZec1bml20TIZ9u939qOy49sd3+LNoxmtcmggXvbG8dHR8zi667uB7wbWRjPXxXoGmllvXPgkUS8apF50xPUI6AeTBBGLvX9jthqL/Zj97NRIRjCZL4F6lB/upLxVN/xvcP1vdP03wKQq6qLzIQMFKFI0qF1pwm3tD4yITxvXi5pOQfIKhl59Y02lj1MD2yB41FlR0O+s4ZQzreBeZ772s7KygveWywrnI31izUi53MH5mkvLF2cU0c2Ef+v/U2qErWsoblbaCKFMB5Sq2ekeTBf6sZQjSQmhyuxSgaUtpq7LsrGuT9vM3ZCjpQULv5JSB8wHTFOSWbvPK0WjB6OlqKQo2c04ZH50pUnzwg58TzLNg6kDKcnrbd8kS7TkoKKIIZc0h8wDD195OnVhFyFgDxTxNerNl84dXQSP6wJiosb34K3OonhvXVwMLy9jyhgzdxpjK3/Ye7G/CGxaYv/Xg4NPik1FQVYGqcMDwu+u7P/yfyz/BoUx2Yx4nGNgZGBgAGLPaSd04/ltvjJwMzGAwDnZXdEI+v8DJkbGh0AuBwNYGgAekwpRAAB4nGNgZGBgfPj/AYMeEwMDwz8GJkYGoAgKkAAAbi4EDXicY2KAglUQiomBQYMJQssyPmAIANK2QMwBxFxAnA/ERlA2CJdDaUeoOi6o3lAQZiARAADURQT+AAAAAAAAAAAADgBEAPgBfgGeAewCXAKoAsIC+AMeA1wDegO0A+QD+gRUBLoE2ATwBPgFAAUIBRAFGAUgBSgFMAU4BUAFSAVQBVgFYAVoBXAFeAWABYgFkAWYBaAFqAAAeJxjYGRgYNBjmMAgxAACTEDMyAAScwDzGQAWwQEWAAB4nH2OPW7CQBCFP4ON8ldEKdLQbBEp1VprUyBxACvUIC6ALETjlQxSbkLFGWg5Rg6QM+QOeXYGCaVgpdF+8+bND/DEgYTuJdzxYjwg4914yBufxqk8J+OMR76MR9J/5EzSeynPfVfHAx4YGw/5wBun8hyNM145G4+kf7NgKeecNZGGHSyWfr6OjehKNKXq833/t2yocZTkBP0zxf9hf+pEdc9UUYoK5VSx2Vex3dSuzIObuctS4ST4qS9DIdeN21ba3Ura9iWnqd0VrOp2t42NK/Jwq/0XZd03HwAAeJx9TtlSwkAQ7I7GNWIUD37DykcoHljifT5MhSRiiiSLsKCf7+x+gFs1R09vTw8i/P9ONIiIETe4yZhbNNxmwh32uMuUe9xnnwc85BGPOcAbrnGOC9zjBR94xCseMMYtnnGKK1ziCSPcYYgz3ODdrLp6mGXZoBArrcylEid1CCtdWir+lFxW0ohLnfwEzul0kU607/SX13Tpl+ZcyjCb9mpVLRS3UiW15lym2hW6xcpSu2/daP2epFJ2otoyWavW+1ntkrewysy1ntiy7/crzvirCpmZRutScRPcZnG4JPbu5R9cP1MZAA==)
    format("woff");
  font-weight: normal;
  font-style: normal;
}*/

form.disabled {
  .st-block-controls__top,
  .st-icon--add:after {
    display: none;
  }
}

